<div class="row bg-info" id="footer">
  <div class="container">
    <div class="col-sm text-center">
      <small>
        © 2019 qubricks.com. All rights reserved.
      </small>
      <h4>
        <a href="https://www.facebook.com/qubricks">
          <span class="fab fa-facebook-square" target="_blank"></span>
        </a>
        &nbsp;
        <a href="https://www.twitter.com/qubricks1">
          <span class="fab fa-twitter-square" target="_blank"></span>
        </a>
      </h4>
    </div>
  </div>
</div>