$primary: darken(#2A2A72, 0%) !default; // #337ab7
$success: #6BF178 !default;
$info: #1FB6FF !default;
$warning: #FFA400 !default;
$danger: #C33C54 !default;

@import 'bootstrap';
@import 'customize';
@import 'pages/landing';