$primary: darken(#160033, 0%) !default; // #337ab7
$secondary: #FF6C36;
$success: #05A8AA !default;
$info: #333 !default;
$warning: #ffb800 !default;
$danger: #840032 !default;

@import 'bootstrap';
@import 'customize';
@import 'pages/landing';