body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9375rem;
  background: #eff2f7;
}

h1, h2, h3, h4, h5, h6, .font-stylised {
  font-family: 'Montserrat', sans-serif;
}

.icon-backdrop {
  position: fixed;
  color: #333;
  opacity: 0.02;
  font-size: 1500px;
  top: -100px;
  left: -100px;
  right: -100px;
  text-align: center;
  z-index: -1;
}

.navbar {
  padding: 1.5rem 1rem;
  font-size: 0.875rem;
  .logo {
    display: inline-block;
    height: 30px;
    img {
      width: 100%;
    }
  }

  .font-stylised {
    text-transform: uppercase;
  }
  @include media-breakpoint-up(lg) {
    .nav-link {
      padding-right: 1rem !important;
      padding-left: 1rem !important;
    }
  }
}

.bg-transparent {
  background-color: none;
}

.form-control {
  padding: 1.75rem 0.75rem;
  border: 1px solid #d5dce3;
  outline: none !important;
  border-radius: 4px;
  font-size: 0.9375rem;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $primary;
  }
}

.btn-lg {
  padding: 0.8rem 1rem;
}

.btn {
  border-radius: 4px;
}

#footer {
  color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
  padding-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

.btn.btn-primary {
  color: #fff;
}

#flash {
  .alert {
    position: fixed;
    left: 20%;
    right: 20%;
    top: 20px;
    z-index: 1;
    box-shadow: 0px 25px 30px rgba(0,0,0,0.15);
  }
}

.alert {
  padding: 1.2rem 1.5rem;
}

.close {
  font-weight: 300;
  opacity: 0.4;
}

form {
  .form-check-label {
    font-size: 0.8rem;
  }
}

#sign-out {
  &:hover {
    color: white;
  }
}
