body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .font-stylised {
  font-family: 'Montserrat', sans-serif;
}

.icon-backdrop {
  position: fixed;
  color: #007bff;
  font-size: 1000px;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.01;
}

.navbar {
  padding: 1.5rem 1rem;

  .logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    img {
      width: 100%;
    }
  }

  .font-stylised {
    text-transform: uppercase;
  }
}

.bg-transparent {
  background-color: none;
}

.form-control {
  padding: 1.75rem 0.75rem;
  border: 1px solid #d5dce3;
  outline: none !important;
  background: #F8F8F8;
  border-radius: 7px;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn-lg {
  padding: 0.8rem 1rem;
}

.btn {
  border-radius: 7px;
}

#footer {
  color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
  padding-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

.btn.btn-primary {
  color: #fff;
}

#flash {
  .alert {
    position: fixed;
    left: 20%;
    right: 20%;
    top: 20px;
    z-index: 1;
    box-shadow: 0px 25px 30px rgba(0,0,0,0.15);
  }
}

.alert {
  padding: 1.2rem 1.5rem;
}

.close {
  font-weight: 300;
  opacity: 0.4;
}

form {
  .form-check-label {
    font-size: 0.8rem;
  }
}