body {
  position: relative;
}

body.logged-in {
  background: #FdFdFd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

.font-stylised {
  font-size: 4.625rem;
}

.page-content {
  margin-top: 30px;
}

.icon-backdrop {
  position: fixed;
  color: #333;
  opacity: 0.02;
  font-size: 1500px;
  top: -100px;
  left: -100px;
  right: -100px;
  text-align: center;
  z-index: -1;
}

.navbar {
  padding: 1.5rem 1rem;
  font-size: 0.875rem;
  .logo {
    display: inline-block;
    height: 25px;
    img {
      height: 100%;
      margin-top: -5px;
    }
  }

  .font-stylised {
    text-transform: uppercase;
  }

  .btn {
    font-size: 0.8rem;
  }

  @include media-breakpoint-up(lg) {
    .nav-link {
      padding-right: 1rem !important;
      padding-left: 1rem !important;
    }
  }
}

.bg-transparent {
  background-color: none;
}

.form-control {
  padding: 1.75rem 0.75rem;
  border: 1px solid transparent;
  outline: none !important;
  border-radius: 4px;
  font-size: 0.9375rem;
  background: #F7F8FB;
  &:focus {
    border: 1px solid transparent;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $primary;
  }
}

.btn-lg {
  padding: 0.8rem 1rem;
}

.btn {
  border-radius: 4px;
  padding: .5rem 1rem;
  border-radius: .2rem;
  line-height: 1.9;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
}

.btn-primary, 
.btn-secondary, 
.btn-danger,
.btn-info,
.btn-success,
.btn-warning {
  border: 0px solid transparent;
}
.raised {
  box-shadow: 30px 30px 60px rgba(0,0,0,.25);
}

.semi-raised {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-round {
  border-radius: 500px;
}

#footer {
  color: rgba(255, 255, 255, 0.9);
  padding-top: 80px;
  margin-top: 150px;
  padding-bottom: 80px;
  a {
    color: rgba(255, 255, 255, 0.9);
  }
}

#footer:before {
  content: '';
  background: no-repeat center center;
  background-image: url('https://signup.heroku.com/assets/header-illustration-3a4c23d829b8e7030dc9083774e0758b3728928904767e24784d840b40b98c78.png');
  background-size: 953px 210px;
  background-position: center top;
  width: 100%;
  height: 210px;
  position: relative;
  top: -80px;
  left: 0;
  z-index: 0;
}

a:hover {
  text-decoration: none;
}

.btn.btn-primary {
  color: #fff;
}

#flash {
  .alert {
    position: fixed;
    border-radius: 7px;
    max-width: 500px;
    min-width: 350px;
    top: 20px;
    z-index: 1;
    box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.15);
    background: #222;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    left: 50%;
    transform: translateX(-50%);
    .close {
      color: rgba(255,255,255,0.9);
      margin-left: 10px;
      margin-top: -1px;
    }
  }
}

.alert {
  padding: 1rem 1.5rem;
}

.close {
  font-weight: 300;
  opacity: 0.4;
}

form {
  .form-check-label {
    font-size: 0.8rem;
  }
}

#sign-out {
  &:hover {
    color: white;
  }
}
.card {
  padding: 40px;
  border-radius: 8px;
  background: white;
  margin-bottom: 30px;
  border: none;
  .card-body {
    padding: 0px;
  }
}

.limited-info {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.divider-right {
  border-right: 1px solid #dfdfdf;
}

.gray-shape {
  position: absolute;
  transform: translate(32%,-123%) rotate(250deg);
  height: 510px;
  width: 1900px;
  left: -1150px;
  top: -220px;
  border-radius: 100px;
  background: 0 0;
  border: 1px solid rgba(208,211,212,.25);
  z-index: -2;
}

.gray-shape:before {
  content: '';
  position: absolute;
  top: 65%;
  left: -12%;
  z-index: -1;
  height: 719px;
  width: 688px;
  border-radius: 100px;
  background-color: #F7F8FB;
}

.badge {
  padding: 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
  // color: rgba(0, 0, 0, 0.8);
  // font-weight: 600;
  &:hover {
    color: rgba(0, 0, 0, 1);
  }
}

table.table {
  th, td {
    padding: 1.2rem;  
  }
}