body {
  font-size: 0.8rem;
}
input[type='text'].form-control, textarea.form-control, select.form-control, input[type='number'].form-control {
  border: none;
  background-color: #efefef;
  box-shadow: none;
  padding: 25px;
  border-radius: 3px;
  margin-bottom: 30px;
}

.content-body {
  padding-top: 50px;
}

.btn-round {
  border-radius: 500px;
}

form {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  label {
    font-weight: bold;
  }
}

h1, h2, h3 {
  font-weight: 400;
}

.btn {
  padding: 0.3rem 0.7rem;
}

table {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.8);
  .btn {
    margin: 2px;
    font-size: 10px;
    font-weight: bold;
  }
  .form-control-table {
    max-width: 80px;
    border-radius: 3px;
    border: none;
    padding: 3px 8px;
    &:focus {
      outline: none !important;
    }
  }
}

.navbar-brand {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.bg-dark {
  background-color: #111 !important;
  border-top: 5px solid $info;
}

.ace_editor {
  border-radius: 3px;
  width: 100% !important;
}

form {
  .form-control-inline {
    display: inline;
    width: auto;
  }
}