<form id="sign-up-form">
  <div class="form-group">
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Company Email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="full-name" aria-describedby="fullName" placeholder="Full Name">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" id="phone-number" aria-describedby="phoneNumber" placeholder="Phone Number">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
  <br><br>
  <small class="text-muted">
    By signing up, you agree to our <a href="#">terms and conditions</a>
    <br>
    Already have an account? <a href="#">Sign in</a>
  </small>
</form>