<div class="container" id="pages-landing">
  <div class="row">
    <div class="col-sm" id="top-left">
      <h1 class="tagline">The all in one platform powering Real Estate</h1>
      <br>
      <p class="text-muted">
        Qubricks has everything to help you grow your business faster and smarter. 
        From getting more leads to automating processes, we have got the solution for you.
        We use the latest technology in our systems thus building fast and secure applications.
      </p>
    </div>
    <div class="col-sm" id="top-right">
      <%= render partial: 'sign_up_form' %>
    </div>
  </div>
</div>