#pages-landing {
  #top-left {
    margin-top: 180px;
  }
  
  #top-right {
    margin-top: 40px;
  }

  #sign-up-form, #sign-in-form {
    padding: 50px;

    @include media-breakpoint-down(lg) {
      padding-left: 0px;
      padding-right: 0px;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 100px;
      padding-right: 0px;
    }

    button {
      width: 100%;
    }
  }
  #sign-in-form {
    margin-top: 100px;
  }
}