#pages-landing {
  a {
    color: $secondary;
  }
  #top-left {
    margin-top: 80px;
  }
  
  #top-right {
    margin-top: 40px;
  }

  #sign-up-form, #sign-in-form {
    padding: 40px;
    border-radius: 8px;
    background: white;
    
    // @include media-breakpoint-down(lg) {
    //   padding-left: 0px;
    //   padding-right: 0px;
    // }

    // @include media-breakpoint-up(lg) {
    //   padding-left: 60px;
    //   padding-right: 0px;
    // }

    button, input[type='submit'] {
      width: 100%;
    }
  }
  #sign-in-form {
    margin-top: 60px;
  }
}